
<header>
    <nav>
        <ul>
            <li>
                <a href="Home">Index</a>
            </li>
            <li>
                <a href="Home/AddBook">Add Book</a>
            </li>
            <li>
                <a href="Home/About">About</a>
            </li>
            <li>
                <a href="Home/ContactUs">Contact Us</a>
            </li>
        </ul>
    </nav>
</header>
